@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap");
:root {
  /* COLORS */
  --clr-fluo-green: hsl(157, 74%, 62%);
  --clr-fluo-green-hover: hsl(157, 62%, 75%);

  --clr-red-warning: hsl(0, 99%, 55%);

  --clr-dark-grey: hsl(225, 26%, 23%);
  --clr-black: hsl(224, 35%, 11%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-bluish-gray: hsl(225, 21%, 45%);
  --clr-light-bluish-gray: hsl(225, 40%, 83%);

  /* TYPOGRAPHY */
  --ff-body: "Chivo", sans-serif;

  /* FONT SIZES */
  --fs-body-sm: 15px;
  --fs-body-normal: 18px;

  /* LINE HEIGHTS */
  --lh-body-sm: 25px;
  --lh-body-normal: 28px;

  /* FONT WEIGHTS */
  --fw-light: 300;
  --fw-bold: 700;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--ff-body);
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-light);
  line-height: var(--lh-body-sm);
  background-color: var(--clr-black);
  padding: 1rem;
  min-height: 100vh;
  overflow: hidden;
}

body::after {
  content: "";
  background-image: url(/images/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 1.625rem;
  line-height: 2.375rem;
  font-weight: var(--fw-light);
  color: var(--clr-fluo-green);
  text-transform: uppercase;
  margin-top: 3.125rem;
}

.hero h1 span {
  color: var(--clr-white);
}

.hero p {
  color: var(--clr-light-bluish-gray);
  padding: 1rem;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 1rem 3.25rem;
}

.partners img {
  width: 85%;
  filter: invert(90%) sepia(90%) saturate(270%) hue-rotate(190deg)
    brightness(80%) contrast(50%);
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

input,
button {
  border: 1px solid var(--clr-black);
  padding: 0.625rem 2.185rem;
  border-radius: 625rem;
  font-weight: var(--fw-bold);
}

input {
  background-color: var(--clr-dark-grey);
  color: var(--clr-light-bluish-gray);
  margin-bottom: 1rem;
}

input:focus {
  border: 1px solid var(--clr-fluo-green);
  color: var(--clr-white);
}

.active {
  border: 1px solid var(--clr-red-warning);
}

.request-btn {
  background-color: var(--clr-fluo-green);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.request-btn:hover {
  background-color: var(--clr-fluo-green-hover);
}

.warning {
  position: absolute;
  left: 2.185rem;
  top: -1.565rem;
  margin: 0;
  visibility: hidden;
  color: var(--clr-red-warning);
  font-weight: var(--fw-bold);
}

.visible {
  visibility: visible;
}

/* Tablet Styles / 640px */

@media only screen and (min-width: 40em) {
  body {
    align-items: start;
    justify-content: start;
    background-image: url(/images/tablet/image-host.jpg),
      url(/images/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-size: 30.625rem, 14.5rem;
    background-position: top 0px right 0px, bottom 0px left 0px;
  }

  body::after {
    content: none;
  }

  .header {
    justify-content: flex-start;
    margin: 2.185rem 1.565rem;
  }

  .hero {
    background-color: var(--clr-black);
    width: 41.56rem;
    padding: 5rem 1.875rem 0 1.565rem;
    text-align: start;
    margin-top: 11.25rem;
  }

  .hero h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 0px;
  }

  .hero p {
    font-size: var(--fs-body-normal);
    line-height: var(--lh-body-normal);
    padding: 1.565rem 9.375rem 2.185rem 0;
  }

  .partners {
    order: +1;
    margin: 0;
    width: 33.45rem;
    margin-bottom: 2.5rem;
  }

  .partners img {
    width: 100%;
  }

  form {
    position: relative;
    flex-direction: row;
    width: 26.55rem;
    margin-bottom: 3.45rem;
  }

  input {
    width: 100%;
    padding: 1rem 2.185rem;
  }

  button {
    position: absolute;
    top: 0.4rem;
    right: 0.425rem;
    padding: 0.625rem 1.565rem;
  }

  .warning {
    left: 2.185rem;
    top: 3.875rem;
  }
}

/* Medium Screen Styles / 1440px */

@media only screen and (min-width: 88em) {
  body {
    background-image: url(/images/desktop/bg-pattern-dots.svg),
      url(/images/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-size: 14.5rem, 55.65rem;
    background-position: bottom 212.5rem right 0px, top 8.125rem right 0px;
  }

  .header {
    margin: 5rem 9.375rem 0 9.375rem;
  }

  .hero {
    width: 45.31rem;
    padding: 5rem 1.875rem 0 0;
    margin: 6.875rem 0 0 9.375rem;
  }

  .hero h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }

  .hero p {
    padding: 1.565rem 15.625rem 2.185rem 0;
  }
}

/* Large Screen Styles / 1700px */

@media only screen and (min-width: 106em) {
  body {
    background-image: url(/images/desktop/bg-pattern-dots.svg),
      url(/images/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-size: 14.5rem, 55.65rem;
    background-position: bottom 0px right 6.25rem, top 7.5rem right 5rem;
  }
  .header {
    margin: 7.5rem 9.375rem 0 6.25rem;
  }

  .hero {
    width: 51.55rem;
    margin: 3.125rem 0 0 6.25rem;
  }

  .hero h1 {
    font-size: 3.8rem;
    line-height: 4.2rem;
  }
}
